* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

section {
    width: 80%;
    margin: auto;
}

header, section {
    text-align: center;
}

#signIn div {
    margin: 1vw;
}

#modal {
    display: flex;
    align-items: center;
}

#frame {
    border: 1px black solid;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header, footer {
    min-height: 5vh;
    margin: auto;
    border: 1px black dashed;
}

h2 {
    border: 1px black solid;
}

#article {
    min-height: 80vh;
}

