* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    text-align: center;
}

#signIn div {
    margin: 1vw;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

#frame {
    border: 1px black solid;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header, footer, #article {
    min-height: 5vh;
    border: 1px black dashed;
}
